@model IEnumerable<MyTube.Models.CommentRating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment.CommentOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment.CommentOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LikeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LikeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LikeID })
        </td>
    </tr>
}

</table>
