<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyTube</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/layout.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggleMenu" id="mytoggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyTube", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="toggleMenu">
                <form class="navbar-form navbar-left" role="search" action="#">
                    <div class="form-group-sm">
                        <div class="input-group" id="searchBarNav">
                            <input type="text" class="form-control" placeholder="Search" autocomplete="off" id="searchParameter">
                            <span class="input-group-btn"><button class="btn btn-danger btn-sm" onclick="search()">Submit</button></span>
                        </div>
                    </div>
                </form>
                @Html.Action("Navbar","Home")
            </div>
        </div>
    </nav>
    <div class="modal fade" id="login-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <!-- body -->
                <div class="imgContaiener">
                    <img alt="loginImg" draggable="false" src="http://www.smartprint4u.com/images/profile-icon.png" id="loginImage" />
                </div>
                <div id="loginFormContent">

                    @Html.Action("LoginModal","Users")
                    @*<form role="form">
                            <div class="form-group">
                                <input type="text" name="uname" id="usernamelogin" class="form-control" placeholder="username" maxlength="15" required />
                                <input type="password" name="passw" id="passwordlogin" class="form-control" placeholder="password" maxlength="15" required />
                            </div>
                        </form>*@
                </div>


            </div>
        </div>
    </div>

    @*@RenderPage("~/Views/Shared/LoginModal.cshtml")*@
    <div class="modal fade" id="register-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Register Form</h3>
                </div>
                <!-- body -->
                <div class="modal-header">
                    <form action="RegisterServlet" method="post">
                        <div class="form-group">
                            <input type="text" name="uname" id="usernameRegister" class="form-control" placeholder="Username*" maxlength="15" required />
                            <input type="password" name="passw" id="passwordRegister" class="form-control" placeholder="Password*" maxlength="15" required />
                            <input type="text" name="firstName" id="firstNameRegister" class="form-control" placeholder="First Name" maxlength="15" />
                            <input type="text" name="lastName" id="lastNameRegister" class="form-control" placeholder="Last Name" maxlength="15" />
                            <input type="text" name="email" id="emailRegister" class="form-control" placeholder="Email*" maxlength="30" required />
                            <label for="rlol" id="rlou">Link or update : </label>
                            <input type="checkbox" id="rlol" onchange="lolChanged()" />
                            <input type="text" id="registerPic" class="form-control" placeholder="Profile picture url" maxlength="300" required />
                            <input type="file" name="pic" accept="image/*" id="registerUploadPic" />
                        </div>
                    </form>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-block" id="registerSubmit">Register</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="logoutModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "btn btn-danger" })
                    @*<a class="btn btn-danger" href="index.html" onclick="logout()">Logout</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="mainDiv">
            @RenderBody()
        </div>
        <footer class="footer text-light">
            <p>Copyright ©, Made by Milos Pavicic   </p>
        </footer>
    </div>


</body>
</html>
