@model MyTube.Models.NewPasswordModel
@using (Html.BeginForm("NewPassword", "Users", FormMethod.Post, new { id = "newPasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <h5 id="loginMessage">@ViewBag.Message</h5>
    </div>
    <div class="modal-header newPasswordDivs">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Old Password", @type = "password" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter New Password", @type = "password" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter New Password", @type = "password" } })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer newPasswordDivs">
        <div class="col-md-12">
            <input type="button" class="btn btn-danger btn-block" onclick="newPassword()" id="newPasswordSubmitButton" value="Submit" />
            <button class="btn btn-default btn-block" type="button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
}