@model IEnumerable<MyTube.DTO.UserDTO>
@{
    ViewBag.Title = "AdminPage";
}
@if ((string)Session["loggedInUserUserType"] != "ADMIN" || (string)Session["loggedInUserStatus"] == "True")
{
    <script>
        window.location.href = '/Home/Index/';
    </script>
}
<html>
<head>
    <script src="~/Scripts/adminPage.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/usersPage.css">
</head>
<body>
    <div class="modal fade" id="changeModalMenu" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Menu</h5>
                </div>
                <div class="modal-footer" id="menuButtonsDiv">
                    <button class="btn btn-danger col-md-12 col-sm-12 col-xs-12" onclick="editModal(event)" id="editUserButtonEditMenu">Change basic info</button>
                    <button class="btn btn-danger col-md-12 col-sm-12 col-xs-12" href="#changeThumbnailModal" data-toggle="modal">Change profile picture</button>
                    <button class="btn btn-danger col-md-12 col-sm-12 col-xs-12" onclick="newPasswordModal()">Change password</button>
                    <button class="btn btn-default col-md-12 col-sm-12 col-xs-12" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newPasswordModal">
        <div class="modal-dialog">
            <div class="modal-content col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Change Password</h3>
                </div>
                <!-- body -->
                <div id="newPasswordModalContainer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeThumbnailModal">
        <div class="modal-dialog">
            <div class="modal-content col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Change Profile Picture</h3>
                </div>
                <!-- body -->
                <form action="@Url.Action("ChangePictureUpload","Users")" method="post" enctype="multipart/form-data" id="uploadPicForm">
                    <div>
                        <div class="col-md-12" id="changeThubnailCheckBoxDiv">
                            <input type="checkbox" id="linkOrLocalPicture" onclick="toggleUrlUpload()" data-val="true" />
                            <label for="linkOrLocalPicture"> Upload file instead of link?</label>
                        </div>
                        <div id="link" class="modal-header">
                            <div class="col-md-12">
                                <input type="text" name="ProfilePictureUrl" id="ProfilePictureUrl" class="form-control" />
                            </div>
                        </div>
                        <div id="upload" class="modal-header col-md-offset-2 col-md-8">
                            <input type="hidden" name="username" id="username" value="" />
                            <input type="file" name="image" id="image" style="display: none;" />
                            <input type="button" class="btn btn-default" value="Browse..." onclick="document.getElementById('image').click();" />
                        </div>
                        <div class="col-md-12" id="changeThumbnailModalFooter">
                            <input class="btn btn-danger" type="button" value="Submit" onclick="submitPicture()" />
                            <button class="btn btn-default" data-toggle="modal" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="blockModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Block" below if you are want to block this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a href="@Url.Action("BlockUser","Users")" class="btn btn-danger" onclick="blockUser(event)" id="BlockModalYesButton">Block User.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="unblockModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Unblock" below if you are want to unblock this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a href="@Url.Action("UnblockUser","Users")" class="btn btn-danger" onclick="unblockUser(event)" id="UnblockModalYesButton">Unblock User.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Delete" below if you are want to delete this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a href="@Url.Action("DeleteUser","Users")" class="btn btn-danger" onclick="deleteUser(event)" id="DeleteModalYesButton">Delete User.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit user</h3>
                </div>
                <!-- body -->
                <div id="userEditFormContainer">
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("AdminPage", "Home", FormMethod.Post, new { id = "SortAndSearchUsersForm" }))
    {
    <div id="headerDiv">
        <div class="input-group" id="searchUserBar">
            <input type="text" name="searchString" class="form-control" placeholder="Search users" autocomplete="off" id="searchInputField" value="@ViewBag.SearchString">
            <span class="input-group-btn"><input class="btn btn-danger" type="submit" id="submitSearchAndSort" onclick="sortAndSearchUsers()" value="Submit"></span>
        </div>
        <div id="sortDiv"> 
            @Html.DropDownList("sortOrder", new SelectList(ViewBag.Values, "Value", "Text"), new { onchange = "this.form.submit();" })
        </div>
    </div>
        
    }

    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Username == Session["loggedInUserUsername"].ToString()) { continue; }


            <div class="col-md-12 col-sm-12 col-xs-12" id="userDiv-@item.Username">
                <a href="@Url.Action("ChannelPage/"+@item.Username,"Home")" id="picDiv">
                    <img src="@item.ProfilePictureUrl" alt="Profile picture" style="width:150px;height: 150px">
                    <ul id="channelInfo">
                        <li><h3>@item.Username</h3></li>
                        <li><p>Followers: @item.SubscribersCount</p></li>
                        <li><p>Name: @item.Firstname @item.Lastname</p></li>
                        <li><p>Email: @item.Email</p></li>
                        <li><p>Role: @item.UserType</p></li>
                        @if (@item.Blocked == true)
                        {
                            <li><p>Status: Blocked</p></li>}
                        else
                        {
                            <li><p>Status: Normal</p></li>}
                    </ul>
                </a>
                <div class="btn-group">
                    <button onclick="editMenu('@item.Username')" class="btn btn-default" title="Edit Menu."><span class="glyphicon glyphicon-edit"></span></button>
                    @if (item.Blocked == true)
                    {
                        <button onclick="unblockModal('@item.Username')" class="btn btn-default" title="Unblock channel."><span class="glyphicon glyphicon-ok-circle"></span></button>
                    }
                    else
                    {
                        <button onclick="blockModal('@item.Username')" class="btn btn-default" title="Block channel."><span class="glyphicon glyphicon-ban-circle"></span></button>
                    }
                    <button onclick="deleteModal('@item.Username')" class="btn btn-default" title="Delete channel."><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        }
    </div>
</body>
</html>