@model IEnumerable<MyTube.DTO.VideoDTO>
@{
    ViewBag.Title = "SearchPage";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/searchPage.css">
</head>
<body>
    <button data-toggle="collapse" class="btn btn-default" data-target="#filter" id="btnFilter">Filter</button>
    <div id="filter" class="collapse">
        <div class="col-md-12">
            @using (Html.BeginForm("SearchPage/"+Url.RequestContext.RouteData.Values["id"], "Home", FormMethod.Post, new { id = "SortSearchVideosForm" }))
            {
            <div class="modal-header" id="filterDiv">
                <h4 class="orderVideos" id="h4Tittle">Order videos by: </h4>
                @Html.DropDownList("sortOrder", new SelectList(ViewBag.SortValues, "Value", "Text", new { @id="selectOrderBy"}), new { onchange = "this.form.submit();" })
            </div>

            }
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="@Url.Action("VideoPage/"+item.VideoID,"Home")" id="picDiv">
                    <img src="@item.ThumbnailUrl" alt="profilePicture" style="width:190px;height: 150px">
                </a>
                <ul id="videoInfo">
                    <li><h3>@item.VideoName</h3></li>
                    <li id="videoUserViewsDate"><p><b><a href="@Url.Action("ChannelPage/"+item.VideoOwner,"Home")">@item.VideoOwner </a></b> - @item.ViewsCount views - on @item.DatePostedString</p></li>
                    <li><p>@item.VideoDescription</p></li>
                </ul>
            </div>
        }
    </div>
</body>
</html>
